.project-item-container{
  width: 60%;
  margin: 0 auto;
  height: 100%;
  position: relative;
  z-index: 999;
  padding-top: 7vh;
  @media only screen and (max-width: 1024px)  {
    min-width: 480px !important;
    min-height: 260px !important;
    transition: 1s;
  }

  @media only screen and (max-width: 480px)  {
    min-width: 100vw !important;
    min-height: 220px !important;
    transition: 1s;
  }
  .padding{
    // padding-top: 7vh;
    position: relative;
    // bottom: 0vh;
    // @media only screen and (max-width: 768px)  {
    //   padding-top: 0;
    //   // padding-bottom: 2vh;
    // }
  }
  .layout-text{
    width: 100%;
    height: 100%;
    position: absolute;
    // top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background: none;
    @media only screen and (max-width: 768px)  {
      transform: none !important;
      justify-content: flex-start;
      top: 40% !important;
    }
  }
  .layout-wrapper{
    z-index: 1;
    overflow: hidden;
    
    
  }
  .sublayout-wrapper{
    z-index: 1;
    overflow: hidden;
    .subtitle{
      position: relative;
      font-family: "Rosindale";
    }
  }
  .item-desc{
    z-index: 1;
    .text-wrapper{
      overflow: hidden;
    }
  }
  h2{
    z-index: 1;
    font-size: clamp(2.5rem, 2.0645rem + 1.9355vw, 4rem);
    color: #F2F2F2;
    font-weight: 400;
    letter-spacing: 0px;
  }
  .item-desc{
    z-index: 1;
    color: #F2F2F2;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    font-size: clamp(0.7rem, 0.5723rem + 0.5677vw, 1.14rem);
    span{
      display: block;
      
    }
    :last-child{
      margin-top: 0.7vh;
    }
  }
  
}
.thumb {
  position: relative;
  z-index: 0;
  cursor: pointer;
  will-change: transform;
  margin: 0 auto;

  @media only screen and (max-width: 1024px)  {
    min-width: 480px !important;
    min-height: 260px !important;
    transition: 1s;
  }

  @media only screen and (max-width: 480px)  {
    min-width: 100vw !important;
    min-height: 220px !important;
    transition: 1s;
  }

  .project-image{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    .image-wrapper{
      width: 100%;
      height: 100%;
      will-change: transform;
      position: relative;
      z-index: 1;
      overflow: hidden;
      .overlay{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        will-change: transform;
        z-index: 100;
      }
    }
    
    img{
      will-change: transform;
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 1;
      filter: brightness(85%);
      object-fit: cover;
    }
  }
}