.toc-contents{

  .space{
    padding-top: 2vh;
  }

  li{
    margin: 0;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    list-style: none;
    cursor: pointer;
    overflow: hidden;
    // font-family: "Helvetica-Now";
    p{
      margin: 0;
    }
    &:not(:nth-of-type(1)){
      padding-top: 2vh;
    }
    &:nth-of-type(1){
      text-transform: uppercase;
      // padding-bottom: 2vh;
      letter-spacing: 2px;
      font-weight: 500;
    }
    // &:nth-of-type(4){
    //   // padding-bottom: 2vh;
    //   padding-top: 2vh;
    // }
    a{
      text-decoration: none;
    }
  }
}

