nav {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
  text-transform: uppercase;
  // overflow: hidden;
  color: black;
  letter-spacing: 0.4px;
  a{
    text-decoration: none;
    color: black;
  }
  ul{
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 0.5vh 2vw 0.5vh 2vw;
    .nav-title{
      height: 100%;
      width: 15%;
      display: flex;
      justify-content: flex-start;
    }

    .nav-links{
      height: 100%;
      width: 15%;
      display: flex;
    justify-content: flex-end;
    overflow: hidden;
      
      li{
        padding-left: 2vw;
      }
    }
  }
  
}


