.nav-container{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 998;
  @media screen and (max-width: 768px) {
    position: absolute;
  }
  // z-index: 9;
  // background-color: red;
  
  .nav-items{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    // z-index: 999;
    // position: relative;
    li{
      list-style: none;
      overflow: hidden;
      // border: 1px solid red;
      margin: 0;
      padding: 0;
      position: relative;
      z-index: 999;
      font-size: clamp(0.8rem, 0.7077rem + 0.4103vw, 1.2rem);
      letter-spacing: 0.1px;
      color: rgb(151, 151, 151);
      p{
        margin: 0;
        padding: 0;
        

      }
      
    }
    a{
      text-decoration: none;
      position: relative;
      z-index: 999;
    }
    .top-left{
      top: 7vh;
      position: absolute;
      left: 4.5vw;
      // position: relative;
      z-index: 999;
      
      p{
        color: rgb(48, 48, 48) !important;
        font-family: "Ginger";
        font-size: clamp(1.4rem, 1.2615rem + 0.6154vw, 2rem);
        
      }
      // z-index: 999;
    }
    .top-right{
      position: absolute;
      top: 8vh;
      right: 4.5vw;
      display: flex;
      // position: relative;
      z-index: 999;

      .nav-projects{
        padding-right: 2vw;
      }
      
      
      // z-index: 999;
    }
    .bottom-left{
      position: absolute;
      left: 4.5vw;
      bottom: 9vh;
      display: flex;
      li{
        padding-right: 2vw;
      }
      @media screen and (max-width: 768px) {
        display: none;
      }
      
      // z-index: 999;
    }
  }
}

// nav {
//   width: 100%;
//   height: 100%;
//   display: flex;
//   justify-content: center;
//   // border-bottom: 1px solid black;
//   // text-transform: uppercase;
//   // overflow: hidden;
//   color: black;
//   letter-spacing: 0.4px;
//   position: fixed;
//   top: 0;
//   z-index: 999;
//   a{
//     text-decoration: none;
//     color: black;
//   }
//   ul{
//     height: 100%;
//     width: 100%;
//     list-style: none;
//     overflow: hidden;
//     padding: 6vh 4.5vw 0vh 4.5vw;
//     .nav-title{
//       height: 100%;
//       width: 15%;
//       display: flex;
//       justify-content: flex-start;
//     }

//     .nav-links{
//       height: 100%;
//       width: 100%;
//       display: flex;
//     justify-content: space-between;
//     overflow: hidden;
      
//       li{
//         // padding-left: 2vw;
//         font-size: 1.1rem;
//       }
//     }
//   }
  
// }


