@import url("https://use.typekit.net/tku0gpb.css");

html,
body {
  // min-height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

h1,h2,h3,h4,h5{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: initial;
}

body {
  overflow-y: scroll;
  height: 100%;
  background: #F2F2F2;
  background-repeat: no-repeat;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // overscroll-behavior-y: none;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
-moz-backface-visibility:    hidden;
-ms-backface-visibility:     hidden;
}

// iframe {
//   display: none;
// }

main {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica-Now";
  font-weight: 400;
  // height: 100%;
  // max-height: 100%;
  
}
a{
  color: inherit;
}

@font-face {
  font-family: 'Rosindale';
  src:
    url('./fonts/Roslindale\ Text\ Italic\ Italic.woff2') format('woff2'),
    url('./fonts/Roslindale\ Text\ Italic\ Italic.woff') format('woff'),
    url('./fonts/Roslindale\ Text\ Italic\ Italic.ttf') format('truetype');
  // font-weight: 300;
}
@font-face {
  font-family: 'Neue-Montreal';
  src:
      url('./fonts/NeueMontreal-Light.otf') format('opentype');
  font-weight: 300;
}
@font-face {
  font-family: 'Neue-Montreal';
  src:
      url('./fonts/NeueMontreal-Regular.otf') format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: 'Neue-Montreal';
  src:
      url('./fonts/NeueMontreal-Medium.otf') format('opentype');
  font-weight: 500;
}
@font-face {
  font-family: 'Neue-Montreal';
  src:
      url('./fonts/NeueMontreal-Bold.otf') format('opentype');
  font-weight: 700;
}
@font-face {
  font-family: 'Helvetica-Now';
  src:
      url('./fonts/HelveticaNowDisplay-Light.woff2') format('woff2'),
      url('./fonts/HelveticaNowDisplay-Light.woff') format('woff'),
      url('./fonts/HelveticaNowDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica-Now';
  src:
      url('./fonts/HelveticaNowDisplay-Regular.woff2') format('woff2'),
      url('./fonts/HelveticaNowDisplay-Regular.woff') format('woff'),
      url('./fonts/HelveticaNowDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica-Now';
  src:
      url('./fonts/HelveticaNowText-Medium.woff2') format('woff2'),
      url('./fonts/HelveticaNowText-Medium.woff') format('woff'),
      url('./fonts/HelveticaNowText-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica';
  src:
      url('./fonts/HelveticaNeue-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica';
  src:
      url('./fonts/HelveticaNeue-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica';
  src:
      url('./fonts/HelveticaNeue-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Basis';
  src:
      url('./fonts/BasisGrotesqueArabicPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Basis';
  src:
      url('./fonts/BasisGrotesqueArabicPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Basis';
  src:
      url('./fonts/BasisGrotesqueArabicPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Basis';
  src:
      url('./fonts/BasisGrotesqueArabicPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Lausanne';
  src:
      url('./fonts/Lausanne-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

.app-container{
  height: 100%;
  width: 100%;
  // overflow: hidden;
  // pointer-events: none;
}

.transition-overlay{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #F2F2F2;
  z-index: 99;
}
