.item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  background-color: white;
  position: relative;
  // overflow-y: hidden;

  .item-heading{
    height: 40vh;
    h2{
      font-size: 3vw;
      font-weight: 400;
    }
    .item-title{
      
    }
  }

  .container{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 40vh;
    background-color: white;
    .item-image{
      width: 100%;
      height: 100%;
      img{
        width: 100%;
        height: 100%;
        filter: brightness(75%);
      }
    }
    
  }
  
}