.item-container{
  width: 100%;
  height: 100%;
}

.item {
  width: 83%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  text-align: start;
  background: none;
  padding-bottom: 20vh;
  margin: 0 auto;
  // overflow-y: hidden;
  .item-top{
    width: 100%;
    height: 100%;
  }

  .item-heading{
    height: 100%;
    width: 80%;
    padding-top: 10vh;
    padding-bottom: 3.5vh;
    margin: 0 auto;
    h2{
      font-family: "Basis", sans-serif;
      font-size: 10rem;
      font-weight: 500;
      letter-spacing: -5px;
      margin: 0;
      text-transform: uppercase;
      color: rgb(39, 39, 39);
      min-width: 0.3ch;
      
    }
    .item-nav-prev{
      height: 100%;
      overflow: hidden;
    }
    .item-title{
      overflow: hidden;
      .title{
        display: flex;
      }
    }

    .heading-categories{
      width: 100%;
      height: 100%;
      padding-top: 5vh;
      padding-bottom: 10vh;
      display: flex;
      justify-content: space-between;
      
      .category{
        width: 29%;
        :nth-child(2){
          padding-top: 1.5vh;
        }
        .category-title{
          width: 100%;
          text-transform: uppercase;
          font-size: 0.85rem;
          letter-spacing: 0.5px;
          padding-bottom: 20px;
          border-bottom: 2.5px solid rgb(214, 214, 214);
        }
        .category-item{
          font-size: 1.1rem;
          letter-spacing: 0.2px;
        }
      }
      
    }
    .item-description{
      padding-top: 1vh;
      overflow: hidden;
      p{
        text-transform: uppercase;
        font-size: 0.8rem;
        letter-spacing: 0.5px;
      }
    }

    .item-link{
      padding-top: 1vh;
      overflow: hidden;
      h3{
        font-size: 1.45rem;
        text-transform: uppercase;
        font-family: "Basis", sans-serif;
        font-weight: 500;
        margin: 0;
      }
      
    }
    
  }

  // .item{
  //   position: absolute;
  //   top: 0;
  // }
    .container{
      position: fixed;
      top: 70.2vh;
      // width: 100%;
      // height: 100%;
      // z-index: 999;
      // background-color: white;
      // overflow: hidden;
      .item-image{
        width: 100%;
        height: 100%;
        
        
        img{
          will-change: transform;
          width: 100%;
          height: 100%;
          filter: brightness(100%);
        }
      }
      
    }
  
  
  
}