.item-container{
  width: 100%;
  height: 100%;

  .item-screen-section{
    width: 100%;
    height: 100%;
    // overflow: hidden;
    display: none;
    .item-image{
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      // background-color: red;
      .bg-image{
        // will-change: transform;
        width: 100%;
        height: 100%;
        // background-size: cover;
        object-fit: cover;
      }
  }
  
  }

  .item-screens{
    width: 100%;
    height: 100vh;
    display: none;
    padding-bottom: 100vh;
    position: relative;
  }

  .item-showcase{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .footer-container{
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .footer-contents{
      width: 100%;
      height: 100%;
      background-color: #070607;
      .footer-bg{
        width: 100%;
        height: 60vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 22vh;
        h5{
          color: #e7d0bc;
          font-size: 1.2rem;
          font-family: "Lausanne", sans-serif;
          font-weight: 400;
        }
        h2{
          // height: 100%;
          color: #e7d0bc;
          font-size: 8rem;
          font-family: "Lausanne", sans-serif;
          font-weight: 400;
          // position: absolute;
          // left: 0;
          // right: 0;
          // top: 0;
          // bottom: 0;
          // margin: auto;
        }
      }
    }
  }
}

.item {
  width: 83%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  text-align: start;
  background: none;
  padding-bottom: 20vh;
  margin: 0 auto;
  // overflow-y: hidden;
  .item-top{
    width: 100%;
    height: 100%;
    // padding-bottom: 90vh;
  }

  .item-heading{
    height: 100%;
    width: 80%;
    padding-top: 10vh;
    padding-bottom: 3.5vh;
    margin: 0 auto;
    h2{
      font-family: "Basis", sans-serif;
      font-size: 10.5rem;
      font-weight: 500;
      letter-spacing: -5px;
      margin: 0;
      text-transform: uppercase;
      color: rgb(39, 39, 39);
      min-width: 0.3ch;
      
    }
    .item-nav-prev{
      height: 100%;
      overflow: hidden;
    }
    .item-title{
      overflow: hidden;
      .title{
        display: flex;
      }
    }

    .heading-categories{
      width: 100%;
      height: 100%;
      padding-top: 5vh;
      padding-bottom: 10vh;
      display: flex;
      justify-content: space-between;
      
      .category{
        height: 100%;
        width: 29%;
        :nth-child(2){
          padding-top: 1.5vh;
        }
        .line{
          height: 1px;
          background-color: rgb(214, 214, 214);
          padding: 0;
          margin-top: 2.5vh;
        }
        .spacing{
          // padding-top: 2vh;
        }
        .category-title{
          overflow: hidden;
          width: 100%;
          .category-title-inner{
            color: rgb(156, 156, 156);
            width: 100%;
            text-transform: uppercase;
            font-size: 0.85rem;
            font-weight: 500;
            margin: 0;
            
          }
        }

        .category-role{
          height: 100%;
          // padding-top: 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
        .category-item{
          overflow: hidden;
          margin: 0;
          padding-top: 15px;
          .category-item-inner{
            font-size: 1.14rem;
            letter-spacing: -0.2px;
            margin: 0;
          }
        }
        
      }
      
    }
    .item-description{
      padding-top: 1vh;
      overflow: hidden;
      p{
        text-transform: uppercase;
        font-size: 0.8rem;
        letter-spacing: 0.5px;
      }
    }

    .item-link{
      padding-top: 1vh;
      overflow: hidden;
      h3{
        font-size: 1.45rem;
        text-transform: uppercase;
        font-family: "Basis", sans-serif;
        font-weight: 500;
        margin: 0;
      }
      
    }
    
  }

  // .item{
  //   position: absolute;
  //   top: 0;
  // }
  .container{
    position: fixed;
    top: 67.8vh;
    // width: 100%;
    // height: 100%;
    // z-index: 999;
    // background-color: white;
    // overflow: hidden;
    .item-image-wrapper{
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    .item-image{
      width: 100%;
      height: 100%;
      overflow: hidden;
      
      img{
        will-change: transform;
        width: 100%;
        height: 100%;
        background-size: cover;
        object-fit: cover;
      }
    }
    
  }
  
  
  
  
  
}
.item-description{
  padding-top: 90vh;
  width: 70%;
}
.features-section{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 25vh;
  .features-images{
    width: 61%;
    // height: 100%;
    margin: 0 auto;
    img{
      width: 100%;
      height: 100%;
      padding-bottom: 8vh;
    }
  }
  
}
.item-features{
  margin: 0 auto;
  text-align: start;
  width: 60%;
  padding-top: 25vh;
  padding-bottom: 25vh;
  display: flex;
  
}
.item-description, .features-section{
  display: none;
}
.item-description, .item-features{
  // display: flex;
  justify-content: space-between;
  .item-details{
    width:30%;
    .details-heading{
      h3{
        // font-family: "Basis", sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 0px;
        font-size: 1.2rem;
        margin: 0;
        padding: 0;
      }
    }
    h2{
      // font-family: "Basis", sans-serif;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0px;
      font-size: 1.2rem;
      margin: 0;
      padding: 0;
    }
    
    .item-roles, .features-heading{
      width: 100%;
      padding-top: 2vh;
      // line-height: 15px;
      padding-bottom: 2vh;
      p{
        font-size: 1.1rem;
        
      }
      h3{
        font-family: "Lausanne", sans-serif;
        font-size: 2.2rem;
        font-weight: 600;
        // letter-spacing: -0px;
        padding: 0;
        margin: 0;
      }
    }
    .details-heading{
      display: flex;
      font-weight: 400 !important;
      :first-child{
        font-weight: 400;
        letter-spacing: 1px;
        color: rgb(99, 99, 99);
      }
      :last-child{
        padding-left: 0.7vw;
        color: black;
      }
    }
  }
  .item-background, .features-content{
    width: 70%;
    // z-index: 1;
    p{
      
      font-size: 1.22rem;
    }
    h5{
      text-transform: uppercase;
      margin: 0;
      font-weight: 500;
      color: rgb(0, 0, 0);
    }
  }
  .item-background{
    p{
      line-height: 35px;
    }
  }
  .features-content{
    width: 55%;
    p{
      font-size: 1.25rem;
      line-height: 30px;
    }
  }
}
